<ul class="inline-list social-icons">
  {% if settings.social_twitter_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="blank">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="blank">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="blank">
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="fallback-text">Instagram</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr" target="blank">
        <span class="icon icon-tumblr" aria-hidden="true"></span>
        <span class="fallback-text">Tumblr</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="blank">
        <span class="icon icon-youtube" aria-hidden="true"></span>
        <span class="fallback-text">Youtube</span>
      </a>
    </li>
  {% endif %}
</ul>