{% raw %}
<script id="tmpl-photo" type="text/x-jsrender">
    <article id="post-{{:id}}" class="post-{{:type}} masonry-grid__item">
        {{if photoset_layout}}
            <ul class="photoset">
                {{for photos}}<li><img src="{{:~getPhotoURL(#view, 500)}}" /></li>{{/for}}
            </ul>
        {{else}}
            <img src="{{for photos}}{{:~getPhotoURL(#view, 500)}}{{/for}}" />
        {{/if}}
        {{:caption}}
        {{for #data tmpl="#tmpl-metadata"/}}
    </article>
</script>

<script id="tmpl-video" type="text/x-jsrender">
    <article id="post-{{:id}}" class="post-{{:type}} masonry-grid__item">
        {{:~getVideoEmbed(#view, 500)}}
        {{:caption}}
        {{for #data tmpl="#tmpl-metadata"/}}
    </article>
</script>

<script id="tmpl-metadata" type="text/x-jsrender">
    {{if note_count > 0}}<p><small><a href="{{:post_url}}#notes" target="blank">{{:note_count}} notes</a></small></p>{{/if}}
    {{if tags}}<ul class="tags">{{for tags tmpl="#tmpl-tag"/}}</ul>{{/if}}
</script>

<script id="tmpl-tag" type="text/x-jsrender">
    <li><a href="http://{{:~getHostname()}}/tagged/{{:#data}}" target="blank">{{:#data}}</a></li>
</script>
{% endraw %}

<div class="masonry-grid__wrap">
    <div id="masonry-grid">
    </div>
</div>

<!-- Tumblr API + Masonry layout ================================================== -->
<script>
    var TUMBLR_API_KEY = "Lz3UNMfYsXJKibhh1xZyau5Hg3NAGgNo6Dva7w819RJMVyHpUI";
    var TUMBLR_HOSTNAME = "tragicsunshine.tumblr.com";
    $("#masonry-grid").getTumblrPosts({
            done: tragicMasonry
    });
</script>