{% raw %}

<script id="tmpl-photo" type="text/x-jsrender">
    <div id="post-{{:id}}" class="post-{{:type}} masonry-grid__item tumblr-card">
        {{if photoset_layout}}
            <ul class="photoset">
                {{for photos}}
                    <li>
                        <div class="product-thumbnail__wrap">
                            <div class="product-thumbnail">
                                <img src="{{:~getPhotoURL(#view, 500)}}" />
                                <div class="project-title__wrap">
                                  <div class="project-title">
                                    <h2>View this post on Tumblr</h2>
                                    <span class="icon-fallback-text">
                                        <span class="icon icon-new-tab" aria-hidden="true"></span>
                                        <span class="fallback-text">New tab</span>
                                    </span>
                                  </div>
                                  <a href="{{:~root.post_url}}" target="blank"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/for}}
            </ul>
        {{else}}
            <div class="product-thumbnail__wrap">
                <div class="product-thumbnail">
                    <img src="{{for photos}}{{:~getPhotoURL(#view, 500)}}{{/for}}" />
                    <div class="project-title__wrap">
                      <div class="project-title">
                        <h2>View this post on Tumblr</h2>
                        <span class="icon-fallback-text">
                            <span class="icon icon-new-tab" aria-hidden="true"></span>
                            <span class="fallback-text">New tab</span>
                        </span>
                      </div>
                      <a href="{{:post_url}}" target="blank"></a>
                    </div>
                </div>
            </div>
        {{/if}}
        <div class="tubmlr-card__info">
            {{:caption}}
        </div>
    </div>
</script>

<script id="tmpl-video" type="text/x-jsrender">
    <div id="post-{{:id}}" class="post-{{:type}} masonry-grid__item tumblr-card">
        {{:~getVideoEmbed(#view, 500)}}
        <div class="tubmlr-card__info">
            {{:caption}}
        </div>
    </div>
</script>

<script id="tmpl-metadata" type="text/x-jsrender">
    {{if note_count > 0}}{{:note_count}} notes{{/if}}
</script>

{% endraw %}

<div class="masonry-grid__wrap">
    <div id="masonry-grid">
        {% comment %}
            Most recent Tumblr posts will be put here using ajax (limit set in script below)
        {% endcomment %}
    </div>
</div>

<!-- Tumblr API + Masonry layout ================================================== -->
<script>
    var TUMBLR_API_KEY = "Lz3UNMfYsXJKibhh1xZyau5Hg3NAGgNo6Dva7w819RJMVyHpUI";
    var TUMBLR_HOSTNAME = "tragicsunshine.tumblr.com";
    $("#masonry-grid").getTumblrPosts({
        limit: 25,
        done: tragicMasonry,
        always: showFooter
    })
</script>